{
  "ignore": [
    "node_modules",
    "node_modules/*",
    "node_modules/*/**"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias":
        {

          "c:": "./src/common",

          "i:": "./src/ipads/interface/js",
          "i:elements": "./src/ipads/interface/js/elements",
          "i:views": "./src/ipads/interface/js/views",
          "i:selectors": "./src/ipads/interface/js/selectors",
          "i:lib": "./src/ipads/interface/js/lib",
          "i:gl": "./src/ipads/interface/js/gl",

          "exp:elements": "./src/ipads/experiment/js/elements",
          "exp:views": "./src/ipads/experiment/js/views",
          "exp:lib": "./src/ipads/experiment/js/lib",
          "exp:logic": "./src/ipads/experiment/js/logic",

          "el:elements": "./src/electron/js/elements",
          "el:views": "./src/electron/js/views",
          "el:selectors": "./src/electron/js/selectors",
          "el:lib": "./src/electron/js/lib",
          "el:gl": "./src/electron/js/gl"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":
        {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ]
}