.w-100{
  width: 100vw;
}
.h-100{
  height: 100vh;
}
.full-w {
  position: relative;
  width: 100%;
}

.full-h {
  height: 100%;
}

.full-wh {
  position: relative;
  width: 100%;
  height: 100%;
}

.margin-c {
  margin: 0 auto;
}

.w-50{
  width: 50%;
}

/* ************
*  margin
************ */

.no-marg{
  margin: 0;
}
/* ************
*  font
************ */
.fs-base {
  font-size: $font-size-m;
}

.fs-sm,
.fs-small {
  font-size: $font-size-sm;
}

.fs-tiny,
.fs-xsmall {
  font-size: $font-size-xsm;
}

.no-wrap {
  white-space: no-wrap;
}

/* **************
*    color
************** */

.c--darkish {
  color: $c-gray-darkish;
}

.c--grayish {
  color: $c-grayish;
}

.c--red-light {
  color: $c-red-light;
}

.bg--lightest {
  background-color: $c-gray-lightest;
}

/* **************
*    border
************** */

.border-dashed {
  border: $border-dashed;
  border-radius: $button-border-radius;
}

/* **************
*  list
************** */

.list {
  padding: $padding-l;
  list-style-type: none;
  border-radius: $button-border-radius;
  li {
    position: relative;
    padding: $padding-m;
    &:nth-child(odd) {
      background-color: $c-gray-lightest;
    }
  }
  &.--dashed {
    li {
      @extend .border-dashed;
    }
  }
}

/* ************
*  scroll
************ */

.scroll-y {
  overflow-y: auto;
}

/* **************
*
************** */

.disabled {
  color: $c-gray;
  cursor: not-allowed;
}
.--clickable {
  cursor: pointer;
}

