$c-gray-lightest: #22323;

@import 'normalize.css';
@import 'spectre.css';
@import 'codemirror/lib/codemirror.css';
@import '../../postcss/u-flex.css';
@import '../../postcss/u-display.css';
@import '../../postcss/u-buttons.css';
@import './views/interface';


body{
  min-height: 100vh;
}

p{
  margin-bottom: 0.2rem;
}

.app{
  overflow: hidden;
}


.no-wrap{
  white-space: nowrap;
}
.bg-rouded{
  border-radius: 0.4rem;
}

.bg-grey{
  background-color: $c-gray-lightest;
}

.bg-grey--light{
  background-color: #f5f6ff
}

.code-editor{
  font-size: 11px;
}

.live-test{
  &-color{
    position: absolute;
    top:0;
    right:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}