@import 'normalize.css';
@import 'spectre.css';
@import 'codemirror/lib/codemirror.css';
@import '../../postcss/u-flex.css';
@import '../../postcss/u-display.css';
@import '../../postcss/u-buttons.css';
@import './views/interface';

body{
  min-height: 100vh;
}

.app{
  overflow: hidden;
}


.no-wrap{
  white-space: nowrap;
}
.bg-rouded{
  border-radius: 0.4rem;
}

.bg-grey{
  background-color: #e0e1f3
}

.bg-grey--light{
  background-color: #f5f6ff
}

.code-editor{
  font-size: 11px;
}

.live-test{
  &-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}